<ion-header>
  <ion-toolbar color="secondary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>San Assistance</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-card *ngFor="let org of orgs">
            <ion-card-header>

              <ion-card-title><ion-icon name="briefcase"></ion-icon> {{org.title}}</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
                <span [innerHTML]='org.description'></span>
                <span [innerHTML]='org.contact'></span>
            </ion-card-content>
          </ion-card>
      </ion-list>
</ion-content>
