<ion-header>
  <ion-toolbar color="secondary">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>{{story.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
        
        <ion-card-header>
          <ion-img [src]="story.youth_img"></ion-img>        
          <ion-card-subtitle ><ion-item>
              
              <ion-label class="ion-text-wrap ion-text-center">{{story.youth_name}} - {{story.youth_org}}</ion-label>
            </ion-item></ion-card-subtitle>
          <ion-card-title>{{story.title}} </ion-card-title>
        </ion-card-header>
        <ion-card-content>
         
          <ion-text>
              {{story.body}}
          </ion-text>
          <br><hr><br>
          <ion-text>
              <h2 class="text-lg-left"><strong>Motivation</strong></h2>
              {{story.motivation}}
          </ion-text>
        </ion-card-content>
      </ion-card>
</ion-content>
