<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

    <ion-card>
        <ion-card-header>
    
          <h3 class="ion-text-center">Inspirations For the San From the San </h3>
          <ion-item>
            
            <ion-input placeholder="Search" (ionChange)="search($event)"></ion-input>
          </ion-item>
          <ion-button size="default" color="secondary" (click)="submitSearch()">
              <ion-icon slot="start" name="search"></ion-icon>
              Search
            </ion-button>
          <!-- <ion-searchbar animated ></ion-searchbar><ion-button > -->
    
        </ion-card-header>
      </ion-card>
    
      <ion-card class="welcome-card">
        <ion-img  src="../../assets/img/general/Oupa _SAN pic.jpg"></ion-img>
        <ion-card-header>
          <ion-card-subtitle class="ion-text-center">Conquer your situation</ion-card-subtitle>
          <ion-card-title class="ion-text-center">Don't Drop Out</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p class="ion-text-center">This is a free mobile app to boost San learners selfesteem to prepare and support them through the process of
            switching over from primary school to high school. Themes considered were extracted from stories shared by
            fellow San youth who experienced challenges in their school career. <br>  <ion-button routerLink="/assistance">San Assistance</ion-button></p>
           
        </ion-card-content>
      </ion-card>
      <ion-grid>
          <ion-row align-items-stretch padding>
            <ion-col *ngFor="let type of types" style="width: 50%; height: 100%;">
              <ion-card (click)="openDetails(type)"  >
      
                <img class="card-image" [src]="type.img"  />
      
      
                <ion-card-header>
      
                  <ion-card-subtitle class="ion-text-center">{{type.title}}</ion-card-subtitle>
                </ion-card-header>
      
              </ion-card>
            </ion-col>
      
           
          </ion-row>
        </ion-grid>
</ion-content>
<ion-footer>
    <ion-toolbar>
      <p class="ion-text-center">One way you can conquer you situation is to build positive emotions</p>
    </ion-toolbar>
  </ion-footer>