<ion-header>
  <ion-toolbar color="secondary">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>{{type.title}} </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
    <ion-list-header>
      <ion-label><h1 class="ion-text-center">Stories</h1></ion-label>
    </ion-list-header>
    <ion-item *ngFor="let story of stories">
        <!-- <ion-avatar slot="start"> -->
            
          <!-- </ion-avatar> -->
          <ion-label>
            <img [src]="story.youth_img">
            <h3>{{story.youth_name}}</h3>
            <!-- <h3>{{story.topic}}</h3> -->
            <p>{{story.title}}</p>
            <ion-button (click)="OpenStory(story)">
              <ion-icon slot="end" name="arrow-forward"></ion-icon> 
              Read More
            </ion-button>
          </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
