<ion-header>
  <ion-toolbar color="secondary">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Glossary</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>&nbsp;</p>
  <h3>Education</h3>
  <p><strong>Definition:</strong> the act or work of learning or training.</p>
  <p><em>&nbsp;</em></p>
  <p><em>A high school education is needed for most jobs.</em></p>
  <p><em>Reading is an important part of education.</em></p>
  <!-- <p><a href="https://kids.wordsmyth.net/we/?ent_l=personal&amp;tab=similar_tab&amp;rid=30716"><strong>Words with the same meaning:</strong></a> <a href="https://kids.wordsmyth.net/we/?level=2&amp;rid=21424">instruction</a></p> -->
  <p><em>&nbsp;</em></p>
  <p><em>&nbsp;</em></p>
  <h3>Emotions</h3>
  <p><strong>Definition:</strong> a strong feeling such as joy, hatred, sorrow, or fear. When one feels an emotion, there are physical changes such as an increase in pulse, crying, or trembling.</p>
  <p>&nbsp;</p>
  <p><em>I express many emotions in my journal.</em></p>
  <p><em>&nbsp;</em></p>
  <!-- <p><a href="https://kids.wordsmyth.net/we/?ent_l=personal&amp;tab=similar_tab&amp;rid=30716"><strong>Words with the same meaning:</strong></a> feeling</p> -->
  <p><em>&nbsp;</em></p>
  <p><strong>&nbsp;</strong></p>
  <h3>Emotional</h3>
  <p><strong>Definition:</strong> having to do with strong feeling or emotion.</p>
  <p>&nbsp;</p>
  <p><em>She was an emotional girl, who often cried during the sad parts of movies.</em></p>
  <!-- <p><a href="https://kids.wordsmyth.net/we/?ent_l=personal&amp;tab=similar_tab&amp;rid=30716"><strong>Words with the same meaning:</strong></a> <a href="https://kids.wordsmyth.net/we/?level=2&amp;rid=37560">sensitive</a></p> -->
  <p><strong>&nbsp;</strong></p>
  <h3>Family</h3>
  <p><strong>Definition:</strong> a group made up of a parent or parents and their children.</p>
  <p><em>&nbsp;</em></p>
  <p><em>I am the youngest girl in our family, but I have a younger brother.</em></p>
  <p><em>At college, my friends became my family.</em></p>
  <!-- <p><a href="https://kids.wordsmyth.net/we/?ent_l=personal&amp;tab=similar_tab&amp;rid=30716"><strong>Words with the same meaning:</strong></a> household, people</p> -->
  <p><strong>&nbsp;</strong></p>
  <p><strong>&nbsp;</strong></p>
  <h3>Finance</h3>
  <p><strong>Definition:</strong> the management of money or other resources.</p>
  <p><em>&nbsp;</em></p>
  <p><em>People who work for a bank must know about finance.</em></p>
  <!-- <p><a href="https://kids.wordsmyth.net/we/?ent_l=personal&amp;tab=similar_tab&amp;rid=30716"><strong>Words with the same meaning:</strong></a> <strong>&nbsp;</strong>Money</p> -->
  <p><em>&nbsp;</em></p>
  <p><strong>&nbsp;</strong></p>
  <h3>Financial</h3>
  <p><strong>Definition:</strong> having to do with money or those who deal in finance.</p>
  <p><em>&nbsp;</em></p>
  <p><em>The company is having financial problems.</em></p>
  <!-- <p><a href="https://kids.wordsmyth.net/we/?ent_l=personal&amp;tab=similar_tab&amp;rid=30716"><strong>Words with the same meaning:</strong></a> <strong>&nbsp;</strong>Monetary</p> -->
  <p><strong>&nbsp;</strong></p>
  <p><strong>&nbsp;</strong></p>
  <p>&nbsp;</p>
  <h3>Life</h3>
  <table>
  <tbody>
  <tr>
  <td>&nbsp;</td>
  <td>
  <p><strong>Definition:</strong> the state of being that sets animals and plants apart from rocks, minerals, and other things that are not alive. Things that have life grow, reproduce, and use energy.</p>
  <p>Something that is alive, or all alive things.</p>
  <p><em>&nbsp;</em></p>
  <p><em>Pollution has affected the plant life in the area.</em></p>
  </td>
  </tr>
  </tbody>
  </table>
  <!-- <p><a href="https://kids.wordsmyth.net/we/?ent_l=personal&amp;tab=similar_tab&amp;rid=30716"><strong>Words with the same meaning:</strong></a> <a href="https://kids.wordsmyth.net/we/?level=2&amp;rid=3725">being</a>, <a href="https://kids.wordsmyth.net/we/?level=2&amp;rid=14363">existence</a></p> -->
  <h3>&nbsp;</h3>
  <h3>Personal</h3>
  <p><strong>Definition:</strong> of, relating to, or belonging to a particular person.</p>
  <h3><em>&nbsp;</em></h3>
  <p><em>He wrote his personal thoughts and feelings in his journal.</em></p>
  <p><em>Her personal bodyguard goes with her everywhere.</em></p>
  <p><em>He has some personal habits that really annoy me.</em></p>
  <p><strong>&nbsp;</strong></p>
  <!-- <p><a href="https://kids.wordsmyth.net/we/?ent_l=personal&amp;tab=similar_tab&amp;rid=30716"><strong>Words with the same meaning:</strong></a> &nbsp;<a href="https://kids.wordsmyth.net/we/?level=2&amp;rid=32806">private</a></p> -->
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <h3>Social</h3>
  <p><strong>Definition:</strong> living in groups or communities instead of alone.</p>
  <p><em>&nbsp;</em></p>
  <p><em>Ants and bees are social animals.</em></p>
  <!-- <p><a href="https://kids.wordsmyth.net/we/?ent_l=personal&amp;tab=similar_tab&amp;rid=30716"><strong>Words with the same meaning:</strong></a> Friendly, Outgoing</p> -->
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <h1><strong><em><u>Topics</u></em></strong><strong><u> List Definitions</u></strong></h1>
  <p>&nbsp;</p>
  <h3>Personal</h3>
  <p><u>Pregnancy</u></p>
  <p><strong>Definition:</strong> The state, or an instance, of being pregnant.</p>
  <p>The state of carrying a developing fetus within the female body.</p>
  <p>&nbsp;</p>
  <p><em>She ate very carefully during her pregnancy.</em></p>
  <!-- <p><a href="https://kids.wordsmyth.net/we/?ent_l=personal&amp;tab=similar_tab&amp;rid=30716"><strong>Words with the same meaning:</strong></a> condition</p> -->
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p><u>Relationship</u></p>
  <p><strong>Definition:</strong> the condition or fact of being related or connected.</p>
  <p><em>&nbsp;</em></p>
  <p><em>I have a good relationship with my parents.</em></p>
  <p><em>There is a relationship between exercise and good health.</em></p>
  <!-- <p><a href="https://kids.wordsmyth.net/we/?ent_l=personal&amp;tab=similar_tab&amp;rid=30716"><strong>Words with the same meaning:</strong></a> <a href="https://kids.wordsmyth.net/we/?level=2&amp;rid=2458">association</a>, <a href="https://kids.wordsmyth.net/we/?level=2&amp;rid=8721">connection</a>, <a href="https://kids.wordsmyth.net/we/?level=2&amp;rid=2458">association</a>, <a href="https://kids.wordsmyth.net/we/?level=2&amp;rid=34726">relation</a></p> -->
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p><u>Moral</u></p>
  <p><strong>Definition: </strong>having to do with what is right and what is wrong in how a person acts.</p>
  <p>Following rules of right or fair behavior.</p>
  <p><em>&nbsp;</em></p>
  <p><em>He went to his priest for help with a difficult moral decision.</em></p>
  <p><em>A person with morals will not cheat or steal.</em></p>
  <!-- <p><a href="https://kids.wordsmyth.net/we/?ent_l=personal&amp;tab=similar_tab&amp;rid=30716"><strong>Words with the same meaning:</strong></a> <a href="https://kids.wordsmyth.net/we/?level=2&amp;rid=32774">principles</a>, good, upright</p> -->
  <p>&nbsp;</p>
  <h3>Social</h3>
  <p><u>Bullying</u></p>
  <p><strong>Definition: </strong>someone who harasses and frightens others.</p>
  <p><em>&nbsp;</em></p>
  <p><em>A bully in my school always steals my lunch money.</em></p>
  <!-- <p><a href="https://kids.wordsmyth.net/we/?ent_l=personal&amp;tab=similar_tab&amp;rid=30716"><strong>Words with the same meaning:</strong></a> <a href="https://kids.wordsmyth.net/we/?level=2&amp;rid=173">abuse</a>, <a href="https://kids.wordsmyth.net/we/?level=2&amp;rid=18652">harass</a>, <a href="https://kids.wordsmyth.net/we/?level=2&amp;rid=28969">oppress</a>, <a href="https://kids.wordsmyth.net/we/?level=2&amp;rid=43429">torment</a>, <a href="https://kids.wordsmyth.net/we/?level=2&amp;rid=43662">trample</a>, <a href="https://kids.wordsmyth.net/we/?level=2&amp;rid=49250">twist someone's arm</a></p> -->
  <p>&nbsp;</p>
  <p><u>Social Identity </u></p>
  <p><strong>Definition: &shy;&shy; </strong>every child has a social identity, which is how we identify our roles in culture in relation to others. Social identity allows you to be part of a group and to gain a sense of belonging in your social world. These identities play an important role in shaping self-image.&nbsp;</p>
  <!-- <p><a href="https://kids.wordsmyth.net/we/?ent_l=personal&amp;tab=similar_tab&amp;rid=30716"><strong>Words with the same meaning:</strong></a> self-image</p> -->
  <p>&nbsp;</p>
  <p><u>Identity:</u></p>
  <p><strong>Definition:</strong> all of those things by which a person or thing is known or is considered as being.</p>
  <p><em>When he is on stage, an actor leaves behind his own identity.</em></p>
  <!-- <p><a href="https://kids.wordsmyth.net/we/?ent_l=personal&amp;tab=similar_tab&amp;rid=30716"><strong>Words with the same meaning:</strong></a> <a href="https://kids.wordsmyth.net/we/?level=2&amp;rid=21002">individuality</a>, <a href="https://kids.wordsmyth.net/we/?level=2&amp;rid=30720">personality</a>, <a href="https://kids.wordsmyth.net/we/?level=2&amp;rid=37348">self</a>, self-image</p> -->
  <p><strong><u>&nbsp;</u></strong></p>
  <p><u>Wellbeing</u></p>
  <p><strong>Definition: </strong>the condition of being healthy, happy, and comfortable.</p>
  <p><em>He works hard because the well-being of his children is important to him.</em></p>
  <!-- <p><a href="https://kids.wordsmyth.net/we/?ent_l=personal&amp;tab=similar_tab&amp;rid=30716"><strong>Words with the same meaning:</strong></a> <a href="https://kids.wordsmyth.net/we/?level=2&amp;rid=8226">comfort</a>, <a href="https://kids.wordsmyth.net/we/?level=2&amp;rid=18644">happiness</a>, <a href="https://kids.wordsmyth.net/we/?level=2&amp;rid=18914">health</a>, <a href="https://kids.wordsmyth.net/we/?level=2&amp;rid=33070">prosperity</a>, <a href="https://kids.wordsmyth.net/we/?level=2&amp;rid=41111">success</a></p> -->
  <p>&nbsp;</p>
  <h3>Family</h3>
  <p><u>Homesick</u></p>
  <p><strong>Definition: </strong>longing for one's home.</p>
  <p>&nbsp;</p>
  <p><em>Sometimes children who go away to camp feel homesick</em><em>.</em></p>
  <!-- <p><a href="https://kids.wordsmyth.net/we/?ent_l=personal&amp;tab=similar_tab&amp;rid=30716"><strong>Words with the same meaning:</strong></a> missing</p> -->
  <p>&nbsp;</p>
  <p><u>&nbsp;</u></p>
  <p><u>Parental Obligation: </u>A mother or father&rsquo;s duty or responsibility towards a child.</p>
  <p><u>Parental / Parent</u></p>
  <p><strong>Definition: </strong>a mother or a father.</p>
  <p>&nbsp;</p>
  <p><em>One of Sarah's parents picks her up from school every day.</em></p>
  <!-- <p><a href="https://kids.wordsmyth.net/we/?ent_l=personal&amp;tab=similar_tab&amp;rid=30716"><strong>Words with the same meaning:</strong></a> <a href="https://kids.wordsmyth.net/we/?level=2&amp;rid=18175">guardian</a>, <a href="https://kids.wordsmyth.net/we/?level=2&amp;rid=26957">mother</a>, father</p> -->
  <p><em>&nbsp;</em></p>
  <p>&nbsp;</p>
  <p><u>Obligation</u>: something that someone should or should not do because of a law or moral principle.</p>
  <p>&nbsp;</p>
  <p><em>In some countries, military service is an duty.</em></p>
  <p><em>The dishonest man felt no obligation to return the wallet he had found.</em></p>
  <!-- <p><a href="https://kids.wordsmyth.net/we/?ent_l=personal&amp;tab=similar_tab&amp;rid=30716"><strong>Words with the same meaning:</strong></a> <a href="https://kids.wordsmyth.net/we/?level=2&amp;rid=12816">duty</a>, <a href="https://kids.wordsmyth.net/we/?level=2&amp;rid=35070">responsibility</a></p> -->
  <p><em>&nbsp;</em></p>
  <p>&nbsp;</p>
  <p><u>Family Support</u></p>
  <p><u>Support </u></p>
  <p><strong>Definition: </strong>to help during a time of trouble or stress.</p>
  <p><em>&nbsp;</em></p>
  <p><em>She supported me when I was ill.</em></p>
  <p><em>Where can he get support?</em></p>
  <p><em>He has been such a support to me during this time of trouble.</em></p>
  <!-- <p><a href="https://kids.wordsmyth.net/we/?ent_l=personal&amp;tab=similar_tab&amp;rid=30716"><strong>Words with the same meaning:</strong></a> <a href="https://kids.wordsmyth.net/we/?level=2&amp;rid=12816">comfort,</a> help, <a href="https://kids.wordsmyth.net/we/?level=2&amp;rid=13533">encouragement</a></p> -->
  <p>&nbsp;</p>
  <p><u>&nbsp;</u></p>
  <p><u>Family</u></p>
  <p><strong>Definition:</strong> a group made up of a parent or parents and their children.</p>
  <p><em>&nbsp;</em></p>
  <p><em>I am the youngest girl in our family, but I have a younger brother.</em></p>
  <p><em>At college, my friends became my family.</em></p>
  <!-- <p><a href="https://kids.wordsmyth.net/we/?ent_l=personal&amp;tab=similar_tab&amp;rid=30716"><strong>Words with the same meaning:</strong></a> household, people</p> -->
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <h3>Emotional</h3>
  <p><u>Inferior</u></p>
  <p><strong>Definition: </strong>lower in rank, position, or degree.</p>
  <p>Of less value, importance, or quality.</p>
  <p><em>&nbsp;</em></p>
  <p><em>He is an inferior officer in the army.</em></p>
  <!-- <p><a href="https://kids.wordsmyth.net/we/?ent_l=personal&amp;tab=similar_tab&amp;rid=30716"><strong>Words with the same meaning:</strong></a> lower, poor</p> -->
  <p>&nbsp;</p>
  <p><u>Loneliness</u></p>
  <p><strong>Definition: </strong>without company; alone.</p>
  <p>Empty of humans; deserted; lonesome.</p>
  <p>&nbsp;</p>
  <p><em>He walked for miles through lonely woods.</em></p>
  <p><em>There was a lonely hill on the horizon.</em></p>
  <p><em>She is content with her lonely life.</em></p>
  <p><em>I felt lonely for my family while I was away at camp.</em></p>
  <!-- <p><a href="https://kids.wordsmyth.net/we/?ent_l=personal&amp;tab=similar_tab&amp;rid=30716"><strong>Words with the same meaning:</strong></a> <a href="https://kids.wordsmyth.net/we/?level=2&amp;rid=1119">alone</a>, <a href="https://kids.wordsmyth.net/we/?level=2&amp;rid=24296">lone</a></p> -->
  <p><em>&nbsp;</em></p>
  <h3>Education</h3>
  <p><u>Teacher support:</u> teacher help during a time of trouble or stress.</p>
  <p>&nbsp;</p>
  <p><u>Teacher</u></p>
  <table>
  <tbody>
  <tr>
  <td>&nbsp;</td>
  <td>
  <p><strong>Definition:</strong> one whose job is teaching; instructor.</p>
  </td>
  </tr>
  </tbody>
  </table>
  <!-- <p><a href="https://kids.wordsmyth.net/we/?ent_l=personal&amp;tab=similar_tab&amp;rid=30716"><strong>Words with the same meaning:</strong></a> Instructor, <a href="https://kids.wordsmyth.net/we/?level=2&amp;rid=7833">coach</a>, <a href="https://kids.wordsmyth.net/we/?level=2&amp;rid=18196">guide</a></p> -->
  <p>&nbsp;</p>
  <p><u>Accommodation</u></p>
  <p><strong>Definition:</strong> the place where a person or animal lives.</p>
  <p><em>&nbsp;</em></p>
  <p><em>It's fun to go places, but I like being at home too.</em></p>
  <p><em>The forest is home to many animals.</em></p>
  <!-- <p><a href="https://kids.wordsmyth.net/we/?ent_l=personal&amp;tab=similar_tab&amp;rid=30716"><strong>Words with the same meaning:</strong></a> <a href="https://kids.wordsmyth.net/we/?level=2&amp;rid=445">address</a>, <a href="https://kids.wordsmyth.net/we/?level=2&amp;rid=12828">dwelling</a>, <a href="https://kids.wordsmyth.net/we/?level=2&amp;rid=31505">place</a>, <a href="https://kids.wordsmyth.net/we/?level=2&amp;rid=35003">residence</a></p> -->
  <p>&nbsp;</p>
  <p><u>Government Support: </u>The government in the country can provide support</p>
  <p><u>&nbsp;</u></p>
  <p><u>Government</u></p>
  <p><strong>Definition:</strong>&nbsp; The power to make laws and important decisions that control or affect all people living in a community, state, or nation.</p>
  <p>The group of people that has this power and authority.</p>
  <p><em>&nbsp;</em></p>
  <p><em>Government is challenging in a country where the people speak different languages.</em></p>
  <!-- <p><a href="https://kids.wordsmyth.net/we/?ent_l=personal&amp;tab=similar_tab&amp;rid=30716"><strong>Words with the same meaning:</strong></a> <a href="https://kids.wordsmyth.net/we/?level=2&amp;rid=503">administration</a>, <a href="https://kids.wordsmyth.net/we/?level=2&amp;rid=25042">management</a></p> -->
  <h3>Finance</h3>
  <p><u>Hunger</u></p>
  <p><strong>Definition:</strong>&nbsp; the need or desire for food.</p>
  <p>The condition of having little food to eat.</p>
  <p>&nbsp;</p>
  <p><em>After skipping lunch he felt hunger in the afternoon.</em></p>
  <p><em>Children who suffer from hunger often do not grow well.</em></p>
  <!-- <p><a href="https://kids.wordsmyth.net/we/?ent_l=personal&amp;tab=similar_tab&amp;rid=30716"><strong>Words with the same meaning:</strong></a> <a href="https://kids.wordsmyth.net/we/?level=2&amp;rid=1928">appetite</a>, <a href="https://kids.wordsmyth.net/we/?level=2&amp;rid=11188">desire</a>, <a href="https://kids.wordsmyth.net/we/?level=2&amp;rid=27618">need</a>, <a href="https://kids.wordsmyth.net/we/?level=2&amp;rid=40612">stomach</a></p> -->
  <p><em>&nbsp;</em></p>
  <p><u>Toiletries</u></p>
  <p><strong>Definition:</strong>&nbsp; an article or preparation used in cleaning or grooming oneself.</p>
  <!-- <p><a href="https://kids.wordsmyth.net/we/?ent_l=personal&amp;tab=similar_tab&amp;rid=30716"><strong>Words with the same meaning:</strong></a> cosmetics, <a href="https://www.wordhippo.com/what-is/another-word-for/beauty_products.html">beauty products</a>, <a href="https://www.powerthesaurus.org/personal-care_products/synonyms">personal-care products</a>, <a href="https://www.wordhippo.com/what-is/another-word-for/deodorants.html">deodorants</a>, <a href="https://www.wordhippo.com/what-is/another-word-for/shampoo.html">shampoo</a>, <a href="https://www.wordhippo.com/what-is/another-word-for/shaving_cream.html">shaving cream</a>, <a href="https://www.wordhippo.com/what-is/another-word-for/soap.html">soap</a>, <a href="https://www.wordhippo.com/what-is/another-word-for/toothpaste.html">toothpaste</a></p> -->
  <p><strong>&nbsp;</strong></p>
  <p><u>Transport</u></p>
  <p><strong>Definition:</strong>&nbsp; to carry from one place to another.</p>
  <p>&nbsp;</p>
  <p><em>The moving van transported our things to the new house.</em></p>
  <p><em>The kids were transported by bus from school to the village.</em></p>
  <!-- <p><a href="https://kids.wordsmyth.net/we/?ent_l=personal&amp;tab=similar_tab&amp;rid=30716"><strong>Words with the same meaning:</strong></a> drive, carrier</p> -->
  <p>&nbsp;</p>
</ion-content>
